{{> menuPhotos}}

<div class="formulaire_photos">
    <form class="" action="/photos/supprimerPhotos" method="post">
        <fieldset>
            <legend> <b>Supprimer une photo</b> </legend>

            {{#ifCond numeroVip '==' -1}}
            <div class="nom_suppr_photos">
                <div class="text_nom_suppr_photos">
                    <p>Choisir un vip :</p>
                </div>
                <div class="input_nom_suppr_photos">
                    <select id="select_vip_suppr_photo" class="" name="VIP_NUMERO" onchange="selectVipSupprPhoto(value)">
                        <option value="">- Liste des vips -</option>
                        {{#each listVips}}
                        <option value="{{this.VIP_NUMERO}}">{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            {{else}}
            <div class="nom_suppr_photos">
                <div class="text_nom_suppr_photos">
                    <p>Sélection :</p>
                </div>
                <div class="input_nom_suppr_photos">
                    <select id="select_vip_suppr_photo" class="" name="VIP_NUMERO" onchange="selectVipSupprPhoto(value)">
                        {{#each listVips}}
                        {{#ifCond this.VIP_NUMERO '!=' ../numeroVip}}
                        <option value="{{this.VIP_NUMERO}}">{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                        {{else}}
                        <option value="{{this.VIP_NUMERO}}" selected='selected'>{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                        {{/ifCond}}
                        {{/each}}
                    </select>
                </div>
            </div>

            <hr class="separateur">

            <div class="photos_vip_suppr">
                {{#each photos}}
                <figure>
                    <figcaption>
                        <label>
                            <img src="/images/vip/{{this.PHOTO_ADRESSE}}" alt="photo n° {{this.PHOTO_NUMERO}}">
                            <figcaption>
                                {{this.PHOTO_ADRESSE}}
                            </figcaption>
                            <input type="checkbox" name="aSupprimer" value="{{this.PHOTO_NUMERO}}"> Supprimer ?
                        </label>
                    </figcaption>
                </figure>
                {{/each}}
            </div>

            <div id="buttonsSuppr" class="mesBoutons">
                <div class="btn_annulation">
                    <input type="reset" name="annulation" value="Annuler">
                </div>
                <div class="btn_validation">
                    <input type="submit" name="validation" value="Valider">
                </div>
            </div>
            {{/ifCond}}

        </fieldset>
    </form>
</div>

<script type="text/javascript">
function selectVipSupprPhoto(value) {
    valueVip = document.getElementById("select_vip_suppr_photo").value;
    window.location.href = "http://localhost:1903/photos/supprimer/" + valueVip;
}

</script>
